* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #262730;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.title {
    height: fit-content;
    width: fit-content;
    margin: auto;
    color: #EFF0D1;
    font-family: 'Press Start 2P', cursive;
}

.main {
    background-color: #D7C0D0;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.div-scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.title-scoreboard h2 {
    color: #77BA99;
    font-family: 'Press Start 2P', cursive;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.player, .computer {
    box-shadow: 10px 5px 5px #77BA99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-score, .computer-score, .versus {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    color: #77BA99;
}

.goal-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-game h3, .choose h3 {
    font-family: 'Press Start 2P', cursive;
    color: #262730;
}

.div-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 20px;
}

.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.rock-btn, .paper-btn, .scissors-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer {
    margin: 0;
    padding: 0;
    background-color: #262730;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    font-family: 'Press Start 2P', cursive;
    color: #D7C0D0;
}