* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #262730;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.title {
    height: fit-content;
    width: fit-content;
    margin: auto;
    color: #EFF0D1;
    font-family: 'Press Start 2P', cursive;
}

.main {
    background-color: #D7C0D0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 100px;
}

.title-scoreboard-text {
    height: fit-content;
    width: fit-content;
    margin: auto;
    color: #77BA99;
    font-family: 'Press Start 2P', cursive;
}

<<<<<<< HEAD
.player, .computer {
    box-shadow: 10px 5px 5px #77BA99;
=======
.player {
    border: 5px solid #262730;
>>>>>>> 0c37523328e4eea108e4933644314e72cc3ab6a5
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-number {
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-score, .computer-score, .versus {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    color: #77BA99;
}

.goal-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-game h3 {
    font-family: 'Press Start 2P', cursive;
    color: #262730;
=======
    border: 2px solid black;
>>>>>>> 0c37523328e4eea108e4933644314e72cc3ab6a5
}